.login{
    height: 97.5vh;
    background-color: rebeccapurple;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.login-image{
    height: 70%;
    width: 25%;
    background-color: blue;
}


.login-feilds{
    height: 70%;
    width: 25%;
    background-color: rgb(194, 234, 17);
}